.services-maintenance.correctivo.container-fluid.item
  .row.align-items-start
    .col-lg-6.description
      p.montserrat-font-family.text-color_grey Nuestros Servicios
      h3.primary-color-text.montserrat-font-family Mantenimiento Correctivo
      hr.primary-hr__title
      p.text-color_grey.padding--bottom-large Los riesgos de un imprevisto siempre están latentes, tenemos el personal humano y el equipo necesario para corregir los daños que se puedan presentar. Es claro el impacto que puede tener el afectar su plan de distribución, por lo cual es nuestra prioridad darle una solución en el menor tiempo posible.
      button.customNextBtn.btn-outline__color-secondary#btnCorrective Mantenimiento Preventivo
        span.material-icons arrow_forward
    .container-fluid.col-lg-6.col-md-12.col-xs-12.types
      .row
        .col-lg-6.col-md-3.col-sm-6.col-6.margin-top-40_lg.d-flex.justify-content-stretch(data-aos="fade-up")
          .card
            img(src="source/img/home/mantenimiento-correctivo-01.png" alt="Sistema de suspensión")
            h5.primary-color-text.padding--small Reparación en el sistema de suspensión
        .col-lg-6.col-md-3.col-sm-6.col-6.margin-bottom-40_lg.d-flex.justify-content-stretch(data-aos="fade-up" data-aos-delay='100')
          .card
            img(src="source/img/home/mantenimiento-02.png" alt="Sistema de suspensión")
            h5.primary-color-text.padding--small Reparación en el sistema de freno neumático e hidráulico
        .col-lg-6.col-md-3.col-sm-6.col-6.margin-top-40_lg.d-flex.justify-content-stretch(data-aos="fade-up" data-aos-delay='200')
          .card
            img(src="source/img/home/mantenimiento-correctivo-03.png" alt="Sistema de suspensión")
            h5.primary-color-text.padding--small Reparación en el sistema eléctrico y de descargue
        .col-lg-6.col-md-3.col-sm-6.col-6.margin-bottom-40_lg.d-flex.justify-content-stretch(data-aos="fade-up" data-aos-delay='300')
          .card
            img(src="source/img/home/mantenimiento-correctivo-04.png" alt="Sistema de suspensión")
            h5.primary-color-text.padding--small Reparación en el sistema de alineación y balanceo
