section.platform.container-fluid.padding--bottom-large
  .phone-view
    h3.primary-color-text.montserrat-font-family.uppercase Conoce Nuestra Plataforma WEB
    button.btn-outline__color-secondary Plataforma web
      span.material-icons arrow_forward
    .platform-img.text-align_center.margin--top-large
      img(src="source/img/home/platform-2.png" alt="Plataforma web" width="50%")
  .desktop-view
    .row
      .col-lg-5.col-md-5.padding--left-without.padding--right-large
        img(src="source/img/home/platform.png" alt="Plataforma web")
      .col-lg-6.col-md-6.platform-title
        h3.primary-color-text.montserrat-font-family.uppercase Conoce Nuestra Plataforma WEB
        button.btn-outline__color-secondary Plataforma web
          span.material-icons arrow_forward
