section.platform.col-lg-12.col-sm-12.padding--left-without
  .col-lg-5.padding--left-without.padding--right-large
    img(src="source/img/home/platform.png" alt="Plataforma web")
  .col-lg-6.platform-title
    h3.primary-color-text.montserrat-font-family.uppercase Conoce Nuestra Plataforma WEB
    button.btn-outline__color-secondary Plataforma web
      span.material-icons arrow_forward
