.services-maintenance.preventivo.item
  .col-lg-6.padding--large.description
    p.montserrat-font-family.grey-color-text Nuestros Servicios
    h3.primary-color-text.montserrat-font-family Mantenimiento Preventivo
    hr.primary-hr__title
    p.grey-color-text.padding--bottom-large La programación oportuna del ingreso del vehículo al taller gatantiza una útil prolongada del automotor e incrementa la rentabilidad de sus propietarios. Cada determinado numero de kílometros se recomienda la entrada del vehículo para la realización de rutinas de mantanimiento en los diferentes sistemas. Revisión, cambio y el monitoreo constante de las peizas evita el mantenimiento correctivo, el cual toma mayor tiempo y dinero en su ejecución.
    button.customNextBtn.btn-outline__color-secondary Mantenimiento Correctivo
      span.material-icons arrow_forward
  .col-lg-6.padding--large
    .col-lg-6.padding--top-large
      .card.animated.delay-2s
        img(src="source/img/home/mantenimiento-01.png" alt="Sistema de suspensión")
        h5.primary-color-text.padding--small Reparación en el sistema de suspensión
      .card.animated.delay-3s
        img(src="source/img/home/mantenimiento-02.png" alt="Sistema de suspensión")
        h5.primary-color-text.padding--small Reparación en nel sistema de freno neumático e hidráulico
    .col-lg-6
      .card.animated.delay-2s
        img(src="source/img/home/mantenimiento-02.png" alt="Sistema de suspensión")
        h5.primary-color-text.padding--small Reparación en el sistema eléctrico y de descargue
      .card.animated.delay-3s
        img(src="source/img/home/mantenimiento-01.png" alt="Sistema de suspensión")
        h5.primary-color-text.padding--small Reparación en el sistema de alineación y balanceo
