section.repair.padding--top-large
  .repair-background
  .repair-content.container-fluid
    h3.primary-color-text.montserrat-font-family Desvares
    hr.primary-hr__title
    p.text-color_grey.padding--bottom-large Contamos con el personal id칩neo y el equipo necesario para atender desvares en el departamento del Atl치ntico en el menor tiempo p칩sible.
    .row
      .col-lg-4.col-md-4.col-xs-12.d-flex.justify-content-stretch.margin--bottom-small(data-aos="zoom-in")
        .card.w-100
          div
            span.material-icons phone
          <b>Numero de telefono</b>
          p.text-color_grey 3166917459
      .col-lg-4.col-md-4.col-xs-12.d-flex.justify-content-stretch.margin--bottom-small(data-aos="zoom-in" data-aos-delay='100')
        .card.w-100
          div
            span.material-icons access_time
          <b>Horario de atenci칩n</b>
          p.text-color_grey Lun-Vier 8:00 A.M - 06:00 P.M <br/>Sab-Dom 9:00 A.M - 02:00 P.M
      .col-lg-4.col-md-4.col-xs-12.d-flex.justify-content-stretch.margin--bottom-small(data-aos="zoom-in" data-aos-delay='200')
        .card.w-100
          div
            span.material-icons email
          <b>Correo electronico</b>
          p.text-color_grey mantenimiento@frenosypartesbaq.com
