.contact-form {
  background-image: url('source/img/contactForm/contact-form.jpg');
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at left bottom, rgba(0, 18, 30, .91) 0%, rgba(13, 72, 109, .97) 100%) no-repeat;
  }
  &_content {
    position: relative;
    max-width: 693px;
    margin: 0 auto;
    padding-top: 60px;
    p {
      font-weight: 100;
    }
  }
  &_logo {
    position: absolute;
    width: 80px;
    left: calc(50% - 49.5px);
    top: -7%;
    z-index: 6;
  }

  form {
    max-width: 400px;
    margin: 40px auto;
    .material-icons {
      position: absolute;
      bottom: 12px;
    }
  }

  input.form-control {
    background-color: transparent;
    border-bottom: 3px solid #ED3E4B !important;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: $white;
    font-weight: 100;
    padding: 16px 30px;
    height: 40px;
    font-size: 14px;
    font-family: $font-family-serif;

    &:focus, &:active {
      outline: none;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      box-shadow: none!important;
    }
  }

  .custom-select {
    &-opener {
      border-radius: 57px;
      transition: all .4s;
      background-color: $secondary-color;
      color: $white;
      font-weight: 100;
      padding: 15px;
      outline: none;
      position: relative;
    }
    &-panel {
      background-color: $secondary-color;
      border-radius: 0 0 10px 10px;
      color: $white;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    &-option {
      cursor: pointer;
    }
  }
  .is-open {
    .custom-select-opener {
      border-radius: 10px 10px 0 0;
      background-color: $secondary-color;
      color: $white;
      font-weight: 100;
      padding: 15px;
    }
  }
  .custom-select-option.has-focus {
    background-color: $primary-color-hover;
  }
  .custom-select-option.is-selected::before {
    content: "";
    padding: 0;
  }
  .form-custom-select {
    position: relative;
    .select-icon {
      right: 20px;
      bottom: 25%;
      cursor: pointer;
    }
  }
}

.form-success {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  color: $black;
  display: none;
  background-color: #061d2c99;
  &--modal {
    padding: 0 10px;
    text-align: center;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &--send-icon {
    color: $white;
    font-size: 90px;
    border-radius: 83px;
    background: radial-gradient(circle at left bottom, #35a58f 20%, #43c895 50%) no-repeat !important;
    padding: 30px;
    transform: rotate(-35deg);

  }
  &--title {
    font-size: 25px;
    margin-bottom: 0 !important;
  }
  p {
    font-weight: 400;
  }
}

.form-error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  color: $black;
  display: none;
  background-color: #061d2c99;
  &--modal {
    text-align: center;
    padding: 0 10px;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &--send-icon {
    color: $white;
    font-size: 90px;
    border-radius: 83px;
    background: radial-gradient(circle at left bottom, #982e32 20%, #e84148 50%) no-repeat !important;
    padding: 30px;
    transform: rotate(-35deg);

  }
  &--title {
    font-size: 25px;
    margin-bottom: 0 !important;
  }
  p {
    font-weight: 400;
  }
}

.parsley {
  &-errors-list {
    position: absolute;
    color: $secondary-color;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    right: 5px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
