include ./source/mixin/head.pug

doctype html
html
  +head('Frenos & Partes', 'Ofrecemos las mejores Soluciones integrales al Parque automotor para tus vehículos')
  body
    include ./source/includes/shared/loader.pug
    include ./source/includes/navbar.pug
    include ./source/layout/home/banner.pug
    script(src="index.js")
