doctype html
html
  head
    title= title
    link(rel='stylesheet', href='index.scss')
    link(rel='stylesheet', href='node_modules/animate.css/animate.min.css')
    link(rel='stylesheet', href='node_modules/owl.carousel/dist/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')
  body
    include ./source/includes/navbar.pug
    include ./source/layout/home/banner.pug
    script(src="index.js")
