.btn-outline__color-secondary {
  color: $secondary-color;
  padding: 6px 12px;
  background: transparent;
  border: 2px solid $secondary-color;
  border-radius: 40px;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  .material-icons {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 6px;
  }
  &:hover, &:focus {
    background: $secondary-color;
    color: $white;
    text-decoration: none;
  }
}
