.form {
  &-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  &-control {
    z-index: 0;
    position: relative;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 0;
    }
    &:focus + .form-control-placeholder,
    &:valid + .form-control-placeholder {
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
    }
  }
  &-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 36px;
    transition: all 200ms;
    font-family: $font-family-serif;
    font-weight: 100;
  }
}
