.primary-color-text {
  color: $primary-color;
}

.text-color_grey {
  color: $grey;
}

.text-color_white {
  color: $white;
}

.montserrat-font-family {
  font-family: $font-family-serif;
}

.uppercase {
  text-transform: uppercase;
}

.text-align_center {
  text-align: center;
}

.text-font-size_18 {
  font-size: $font-size-h4;
}

.text-font-size_14 {
  font-size: $font-size-h5;
}

.text-weight_thin {
  font-weight: 100;
}
