.primary-color-text {
  color: $primary-color;
}

.grey-color-text {
  color: $grey;
}

.white-color-text {
  color: $white;
}

.montserrat-font-family {
  font-family: $font-family-serif;
}

.uppercase {
  text-transform: uppercase;
}

.text-align_center {
  text-align: center;
}

.text-font-size_18 {
  font-size: $font-size-h4;
}
