.home_banner {
  height: 100vh;
  position: relative;
  padding: 0 20px;
  font-family: 'Montserrat', sans-serif;
  background-image: url('source/img/banner.jpg');
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at left bottom, rgba(0, 18, 30, .91) 0%, rgba(13, 72, 109, .97) 100%) no-repeat;
  }
  h1 {
    top: 40%;
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    color: #ffff;
  }
  hr {
    width: 24%;
    margin: 20px 0;
    border-top: 10px solid $secondary-color;
  }

  @media screen and (min-width: $screen-small) {
    h1 {
      font-size: 40px;
    }
  }
  @media screen and (min-width: $screen-large) {
    padding: 0 122px;
    h1 {
      font-size: 72px;
    }
  }
}

.home-services {
  &_item {
    min-height: 40vh;
    color: $white;
    position: relative;
    .back {
      min-height: 50vh;
      padding: 25px;
      p {font-size: 10px}
      h5 {font-size: 1.25rem}
      @media screen and (min-width: $screen-small) {
        p {font-size: 14px}
        h5 {font-size: 1rem}
      }
    }
    h2 {
      position: absolute;
      top: 163px;
      left: 35px;
      font-weight: 400;
      font-size: 1.2rem;
      white-space: nowrap;
      @media screen and (min-width: $screen-small) {
        top: 190px;
        left: 35px;
        font-size: 1.5rem;
      }
    }
    hr {
      width: 60%;
      border: 2px solid $secondary-color;
      margin: 10px 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: radial-gradient(circle at left bottom, rgba(0, 18, 30, .70) 0%, rgba(13, 72, 109, .81) 100%) no-repeat;
    }
  }
  &_next-btn{
    right: 5%;
    top: 10%;
    display: initial;
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }
  .option-1 {
    background-image: url('source/img/home/servicio-1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .option-2 {
    background-image: url('source/img/home/servicio-2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .option-3 {
    background-image: url('source/img/home/servicio-3.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .option-4 {
    background-image: url('source/img/home/servicio-4.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-width: $screen-small) {
    &_item {
      min-height: 50vh;
      h2 {
        font-size: 2rem;
      }
    }
  }
}
