.repair {
  position: relative;
  padding-bottom: 100px;
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: all .6s;
    background-image: url('source/img/home/map.png');
    background-size: cover;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
  }
  &-content {
    max-width: 740px;
    margin: 0 auto;
  }
  .card {
    padding: 35px 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $secondary-color;
      color: $white;
      .material-icons {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
}
