#navbar {
  background: transparent;
  padding: 20px 52px;
  .logo {
    width: 150px;
  }
  .navbar-nav {
    a {
      color: #ffff;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.fixed {
  background: radial-gradient(circle at left bottom, rgba(4, 28, 43, 100) 100%, rgba(13, 70, 107, 100) 100%) no-repeat !important;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
