header
  nav#navbar.navbar-fixed-top
    a
      img(src="./source/img/logo.png").logo
    ul.nav.navbar-nav.navbar-right
      li
        a Home
      li
        a Conócenos
      li
        a Servicios
      li
        a Productos
      li
        a Cotización
      li
        a Contactanos
