section.about-us-home.container-fluid
  .row.align-items-center
    .col-lg-6.col-md-6.padding--left-without.padding--right-large.desktop-view
      img(src="source/img/aboutUs/aboutus-lading.png" width='100%' alt="Mecanico sonriendo sosteniendo una herramienta")
    .col-lg-6.col-md-6.description
      h1.montserrat-font-family  <b>18 años de experiencia!</b>
      p.text-color_grey-light.text-weight_thin.margin--bottom-large Trabajamos por la calidad de sus productos y servicios, la satisfacción de sus cliente y el  compromiso de sus colaboradores.
      a.btn__color-secondary.btn-rounded(href='#contactus') Contáctanos
  include ./../shared/clients.pug
