section.our-history
  .container-fluid.description
    .row.text-align_center.justify-content-center
      h5.montserrat-font-family.text-color_grey.margin--bottom-small Nuestra Historia
      p.text-color_grey-light.text-weight_thin Frenos & Partes Barranquilla fue fundada en el 2000 con el objetivo de comercializar repuestos de vehículos en el centro de la ciudad de Barranquilla, a lo largo de su trayectoria y con el conocimiento adquirido por parte de capital humano decide incursionar en el mercado de talleres. Con el propósito de brindarle un servicio completo a sus primeros clientes que solo iban por las piezas requeridas para sus vehículos, ofrece un servicio integral de la reparación de automotor con la mano de obra de técnivos y la venta de los insumos requeridos, se buscaba aumentar el nivel de satisfacción de los cientles. Teniendo en cuenta las diferentes especialidades que son requeridas en el mantenimiento de los sistemas de un vehículo los talleres integraron técnicos aptos para cada una de las tareas. Hoy luego de 18 años se cuenta con un punto de venta de repuestos ubicado en el centro de la ciudad en el sector comercial de piezas para automotores, y dos sedes de talleres a la disposición del parque automotor de los diferentes clientes.
  .our-history-bg.row.align-items-center.container-fluid.margin--without
    .container-fluid.text-align_center.text-color_white.montserrat-font-family
      h3 Nuestra filosofía es brindar soluciones integrales a los transportadores
      hr
