section.philoshophy.container-fluid
  .row
    .col-lg-3(data-aos="fade-right")
      img(src="source/img/aboutUs/vision-outline.png")
    .col-lg-8.margin--bottom-small(data-aos="fade-right")
      h2.montserrat-font-family Visión
      p.montserrat-font-family Ser una organización, lider en el mantenimiento, reparación y suministro de respuestos para frenos, reconocidos por la calidad de sus productos y servicios, la satisfacción de sus clientes y el compromiso de sus colaboradores.
    .col-lg-3(data-aos="fade-right" data-aos-delay='100')
      img(src="source/img/aboutUs/mission-outline.png")
    .col-lg-8.margin--bottom-small(data-aos="fade-right" data-aos-delay='100')
      h2.montserrat-font-family Misión
      p.montserrat-font-family Ser comercializadores y distribuidores mayoristas de repuestos para frenos para vehículos pesados y livianos aplicando un proceso constante de mejoramiento con calidad, ética, rentabilidad y un persona idonéo que permite a nuestros clientes lograr el máximo desempeño de sus departamentos de logística y transporte.
    .col-lg-3(data-aos="fade-right" data-aos-delay='200')
      img(src="source/img/aboutUs/commitment-outline.png")
    .col-lg-8.margin--bottom-small(data-aos="fade-right" data-aos-delay='200')
      h2.montserrat-font-family Compromiso
      p.montserrat-font-family Nuestra filosofía es brindar soluciones integrales a los transportadores, y para este fin ofrecemos garantía total de nuestros productos y servicios. Asegurando calidad por cada una de las marcas que nos respaldan y el potencial humano comprometido en la labor. En los últimos años hemos tenido la oportunidad de ofrever soluciones a empresas como Renting Colombia, Logicem, Cemex, Transportes Saferbo, Sociedad Portuaria de Barranquilla, Grupo Merco, Publicidad Barranquilla, Monomeros. Posicionándonos dentro del mercado de la costa como una de las principales empresas al servicio del parque automotor.
