section.planes_banner
  div
    div.margin--bottom-large
      h1 Nuestros planes de subscripción
      h4.text-weight_thin Pregunta por los beneficios que adquieres al
      h4.text-weight_thin.margin--bottom-large trabajar con nosotros.
      a.btn__color-secondary.btn-rounded(href='index.pug#contactus') Contáctanos
    div
      .row.justify-content-center.padding--bottom-large
        .col-lg-5.col-md-5.col-xs-12.d-flex.justify-content-stretch.padding--without
          .planes__card.w-100
            img(src="./source/img/planes/taller-de-confianza-icon.png" width='139px')
            h4.text-color_secondary Taller de confianza
            p.text-color_secondary.text-font-size_18 Asesorías, servicio y acompañamiento en el mantenimiento
            p.text-color_black.text-font-size_14 Frenos & Partes ofrece mantenimientos rápidos y efectivos acorde a tus necesidades y envío de mercancía a convenir. Para mayor información contacta a un asesor comercial.
        .col-lg-5.col-md-5.col-xs-12.d-flex.justify-content-stretch.padding--without
          .planes__card.planes__card-secondary.w-100
            img(src="./source/img/planes/aliado-estrategico-icon.png" width='139px')
            h4.text-color_white Aliado Estratégico
            p.text-color_white.text-font-size_18 ¿Tienes una flota vehicular a tu cargo?
            p.text-color_white.text-font-size_14 Con nuestro plan Aliado Estratégico tendras acceso a nuestra plataforma web con la cual podrás tener mayor control de tu flota vehicular. Para mayor información contacta a tu asesor comercial.
  p.margin--without.padding--bottom-small Aplican términos y condiciones.
