section.platform-user.container-fluid
  .row
    .col-lg-5.col-md-12.col-sm-12
      div.platform-user-text
        h3.montserrat-font-family
          <b>Obtén tu usuario y prueba nuestra plataforma web</b>
        hr.primary-hr__title
        p.lato-font-family.text-color_grey-light.margin--bottom-large Podrás encontrar en un solo sitio las siguientes funciones:
        ul.platform-user-benefits.text-color_grey-light.lato-font-family.margin--bottom-large
          li
            span.platform-user-benefits-marker
            div Programa tus ingresos al taller de manera online
          li
            span.platform-user-benefits-marker
            div Obtén información del estado y avances de los trabajos realizados a tus vehículos a tiempo real.
          li
            span.platform-user-benefits-marker
            div Obtén las cotizaciones de los trabajos a realizar al instante.
          li
            span.platform-user-benefits-marker
            div Encuentra de manera sencilla una relación entre tus facturas con los trabajos y vehículos realizados.
          li
            span.platform-user-benefits-marker
            div Informe maestro de cada vehículo, se vera organizada y condensada toda la información del ingreso, estado y salida.
          li
            span.platform-user-benefits-marker
            div Historial de búsqueda general de todos tus vehículos, donde podrás ver de manera organizada los trabajos realizados al detalle, informes, cotizaciones, facturación y toda la información relacionado con cada vehículo a través del tiempo en nuestras instalaciones.
        a.btn__color-secondary.btn-rounded(href='#contactus') Contáctanos
    .col-lg-7.col-md-12.col-sm-12
      img(src="source/img/platform/platform-02.png" width="100%")
