section.platform-page-home.container-fluid
  .row.align-items-center
    .col-lg-12.padding--top-large.padding--bottom-large
      h1.montserrat-font-family.primary-color-text.margin--without
        <b>Conoce el estado de tus vehiculos en</b>
      h1.montserrat-font-family.primary-color-text.margin--without
        <b>tiempo real.</b>
  .row
    .col-lg-7.col-md-7.padding--left-without.padding--right-large.desktop-view
      img(src="source/img/platform/platform.png" alt="Plataforma web" width="100%")
    .col-lg-5.col-md-5.platform-page-benefits.d-flex.align-items-center
      ul.benefits-list
        li.benefits-item
          h4.montserrat-font-family  <b>Información en tiempo real</b>
          p.text-color_grey-light.lato-font-family Control a tiempo real del estado de tus vehículos con información detallada de los procesos.
        li.benefits-item.benefits-item-02
          h4.montserrat-font-family <b>Optimización de procesos</b>
          p.text-color_grey-light.lato-font-family  Ahorro de tiempo en los procesos y mayor orden en tus procesos internos.
