section.clients
  .container.flex
    span.clients--title.text-color_grey-light CLIENTES:
    .clients--container
      .column__one 
        a.clients--link(href="https://twitter.com/ConstruirS?s=17" target="_blank")
          img.aconstruir(src="source/img/clients/aconstruir.jpg" data-aos="zoom-in")
        a.clients--link(href="http://mercologis.com/" target="_blank")
          img(src="source/img/clients/merco.png" data-aos="zoom-in" data-aos-delay='100')
        a.clients--link(href="https://www.cemexcolombia.com/" target="_blank")
          img(src="source/img/clients/cemex.png" data-aos="zoom-in" data-aos-delay='200')
      .column__second 
        a.clients--link(href="http://www.logicem.com/" target="_blank")
          img(src="source/img/clients/logicem.png" data-aos="zoom-in" data-aos-delay='300')
        a.clients--link(href="http://www.monomeros.com/" target="_blank")
          img(src="source/img/clients/monomeros.png" data-aos="zoom-in" data-aos-delay='400')
        a.clients--link(href="http://www.puertodebarranquilla.com/" target="_blank")
          img(src="source/img/clients/puertoColombia.png" data-aos="zoom-in" data-aos-delay='500')
