.form-error
  .contact-form_content.display-flex.justify-content-center.align-items-center(style='height: 100%')
    div.form-error--modal.display-flex.justify-content-center.align-items-center
      span.text-align_center
        span.material-icons.form-error--send-icon.margin--bottom-small send
        h5.form-error--title.montserrat-font-family.margin--top-small.margin--bottom-flush El mensaje no pudo ser enviado
        p Por favor intenta de nuevo.
