.contact-form.container-fluid.padding--bottom-large
  img(src="source/img/logo-icon.png" alt="Frenos Y Partes logo" class="contact-form_logo")
  .contact-form_content
    h3.text-color_white.montserrat-font-family.text-align_center Contáctanos
    p.text-color_white.text-font-size_18.text-align_center Para mayor información sobre servicios y productos no dudes contactarnos
    form#contact-form
      .form-row
        .col-md-12.margin--bottom-large
          span.text-color_white.material-icons person
          input.form-control(type='text' placeholder='Nombre' required='')
        .col-md-12.margin--bottom-large
          span.text-color_white.material-icons local_phone
          input.form-control.is-valid(type='number' placeholder='Teléfono' required='')
        .col-md-12.margin--bottom-large
          span.text-color_white.material-icons mail
          input.form-control(type='text' placeholder='Email' data-parsley-trigger="change" required='')
        .col-md-12.margin--bottom-large
          label.text-color_white.text-font-size_14.text-weight_thin En cual de nuestros servicios esta interesado?
          .form-custom-select
            select.form-control(required="")
              option(value="") Selecciona una opción
              option(value="mantenimiento") Mantenimiento
            span.select-icon.text-color_white.material-icons keyboard_arrow_down
      #recaptcha.g-recaptcha
      button.btn__color-secondary.btn__full-width#theSubmitBtn(type='submit' value="validate") Enviar
