.form-success
  .contact-form_content.display-flex.justify-content-center.align-items-center(style='height: 100%')
    div.form-success--modal.display-flex.justify-content-center.align-items-center
      span.text-align_center
        span.material-icons.form-success--send-icon.margin--bottom-small send
        h5.form-success--title.montserrat-font-family.margin--top-small.margin--bottom-flush Tu mensaje ha sido enviado
        p Uno de nuestros asesores te contactara!
