footer.footer
  .footer-container.container-fluid
    img(src="./source/img/logo.png" width='139px')
    .row.margin--top-large
      ul.col-lg-4.col-sm-4
        li
          b Almacén
        li Cra. 38 #36 - 02
        li frenopar@yahoo.com
      ul.col-lg-4.col-sm-4
        li
          b Taller vehículos livianos
        li Cra. 36 #36 - 57
        li mantenimientofrenopar@gmail.com
      ul.col-lg-4.col-sm-4
        li
          b Taller vehículos pesados
        li Cra. 82 #110 - 1002 Prolongación vía 40
        li mantenimientofrenopar@gmail.com
    .text-align_center.margin--top-large
      span.copyright © 2018 Frenos&Partes, Inc. All Rights Reserved
